
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');


.row {
  width:80%;
  display: flex;
}

#aboutpagetitle {
  font-size: 3rem;
  position: absolute;
  height: 70%;
  font-family: 'DM Serif Text', serif;
}

.column1 {
  float:left;
   width:50%;
}
.column2 {
  float:right;
  width:50%;
}

#aboutimage {
  position: absolute;
  right: 10%;
  width: 26vw;
  height: 76vh;
  top: 12%;
}

ul {
  list-style: none;
}

#title {
  font-family: 'DM Serif Text', serif;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
}
#titletop {
  font-family: 'DM Serif Text', serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 3rem;
}

#description {
  margin-top: 1rem;
  width: 60%;
  font-size: 1.2rem;
}


#iconbutton {
  position: relative;
  left: 43%;
  margin: 2%;
  background-color: #dfad23;
  font-family: 'DM Serif Text', serif;
}
#iconbutton:hover {
  cursor: pointer;
  background-color: #cb980e;
}