@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');



#navlink {
  margin-right: .5rem;
  margin-left: .5rem;
  cursor: pointer; 
  display: inline-flex;
}

#navlinkactive {
  box-shadow: 0  1.5px 0px 0px black;
}
#navlink:hover {
  box-shadow: 0  1.5px 0px 0px black;
  transition: ease-in-out .2s;
}



#link {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: 'DM Serif Text', serif;
}

span {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

#header {
  align-items: center;
  width: 100vw;
  height: 6vh;
  border-bottom: 2px solid #eeb111;
}

#header ul {
  
}